In [1]:
import pandas as pd
import numpy as np

In [2]:
devents = pd.read_csv('dataset/districteventList.csv')

In [3]:
devents.head()

,Unnamed: 0,state,STFIPS,districtId,event,vtec,published,updated
0,1,AK,2,200,Air Quality,NaN,2018-11-15 09:03:00,2018-11-15 09:03:00
1,2,AK,2,200,Air Quality,NaN,2018-11-27 08:45:00,2018-11-27 08:45:00
2,3,AK,2,200,Air Quality,NaN,2018-12-10 12:16:00,2018-12-10 12:16:00
3,4,AK,2,200,Air Quality,NaN,2018-12-11 09:10:00,2018-12-11 09:10:00
4,5,AK,2,200,Air Quality,NaN,2018-12-14 08:43:00,2018-12-14 08:43:00

In [5]:
devents.shape

(552206, 8)

In [6]:
devents.event.unique()

array(['Air Quality', 'Ashfall Advisory', 'Blizzard Warning',
       'Coastal Flood', 'Dense Fog', 'Dense Smoke', 'Fire Weather',
       'Flood Advisory', 'Flood Statement', 'Flood Warning',
       'Flood Watch', 'Frost Advisory', 'High Surf', 'High Wind',
       'Hydrologic Outlook', 'Red Flag', 'Severe Thunderstorm',
       'Severe Weather', 'Special Weather', 'Tsunami Warning',
       'Wind Advisory', 'Wind Chill', 'Winter Storm', 'Winter Weather',
       'Excessive Heat', 'Flash Flood', 'Freeze Warning', 'Freeze Watch',
       'Freezing Fog', 'Heat Advisory', 'Rip Current', 'Tornado Warning',
       'Tornado Watch', 'Ice Storm', 'Civil Emergency', 'Civil Danger',
       'Lake Wind', 'Blowing Dust', 'Dust Advisory', 'Hard Freeze',
       'Dust Storm', 'Snow Squall', 'Avalanche Warning',
       'Avalanche Watch', 'Beach Hazards', 'Hurricane Local',
       'Hurricane Warning', 'Hurricane Watch', 'Storm Surge',
       'Tropical Storm', '911 Telephone', 'Air Stagnation',
       'Lakeshore Flood', 'Child Abduction', 'Local Area', 'Extreme Cold',
       'Test issued', 'Extreme Fire', 'Law Enforcement', 'Fire Warning'],
      dtype=object)

In [7]:
devents.vtec.unique()

array([nan, 'AF', 'BZ', 'WW', 'WS', 'CF', 'SU', 'FG', 'SM', 'FW', 'FA',
       'FR', 'HW', 'WI', 'SV', 'TS', 'WC', 'RP', 'HT', 'EH', 'FF', 'FL',
       'FZ', 'ZF', 'TO', 'IS', 'LW', 'DU', 'HZ', 'DS', 'SQ', 'BH', 'fw',
       'HU', 'SS', 'TR', 'HY', 'AS', 'LS', 'EC'], dtype=object)

In [8]:
wxcodes = pd.read_csv('dataset/wxCodes.csv')

In [10]:
wxcodes.head()

   Unnamed: 0 codeId               codeName              lowerName
0           1     AF       Volcanic Ashfall       volcanic ashfall
1           2     AS         Air Stagnation         air stagnation
2           3     AV              Avalanche              avalanche
3           4     BS  Blowing/Drifting Snow  blowing/drifting snow
4           5     BZ               Blizzard               blizzard

In [16]:
devents[devents['vtec'].notnull()]['event'].unique()

array(['Ashfall Advisory', 'Blizzard Warning', 'Coastal Flood',
       'Dense Fog', 'Dense Smoke', 'Fire Weather', 'Flood Advisory',
       'Flood Statement', 'Flood Warning', 'Flood Watch',
       'Frost Advisory', 'High Surf', 'High Wind', 'Red Flag',
       'Severe Thunderstorm', 'Severe Weather', 'Tsunami Warning',
       'Wind Advisory', 'Wind Chill', 'Winter Storm', 'Winter Weather',
       'Excessive Heat', 'Flash Flood', 'Freeze Warning', 'Freeze Watch',
       'Freezing Fog', 'Heat Advisory', 'Rip Current', 'Tornado Warning',
       'Tornado Watch', 'Ice Storm', 'Lake Wind', 'Blowing Dust',
       'Dust Advisory', 'Hard Freeze', 'Dust Storm', 'Snow Squall',
       'Beach Hazards', 'Hurricane Local', 'Hurricane Warning',
       'Hurricane Watch', 'Storm Surge', 'Tropical Storm',
       'Hydrologic Outlook', 'Air Stagnation', 'Lakeshore Flood',
       'Extreme Cold'], dtype=object)

In [19]:
# Which events don't have 'vtec' codes - are they weather events?
[e for e in devents.event.unique().tolist() if e not in devents[devents['vtec'].notnull()]['event'].unique().tolist()]

['Air Quality',
 'Special Weather',
 'Civil Emergency',
 'Civil Danger',
 'Avalanche Warning',
 'Avalanche Watch',
 '911 Telephone',
 'Child Abduction',
 'Local Area',
 'Test issued',
 'Extreme Fire',
 'Law Enforcement',
 'Fire Warning']

In [21]:
#Filtering observations where vtec is empty
devents = devents[devents['vtec'].notnull()]

In [26]:
#Importing the Climate Opinion Data
clopinion = pd.read_csv('dataset/YCOM_2019_Data.csv',encoding='latin1')

In [27]:
clopinion

,GeoType,GEOID,GeoName,TotalPop,discuss,discussOppose,reducetax,reducetaxOppose,CO2limits,CO2limitsOppose,...,devharm,devharmOppose,futuregen,futuregenOppose,harmplants,harmplantsOppose,timing,timingOppose,affectweather,affectweatherOppose
0,National,9999,US,244945724,35.793,64.079,66.147,33.559,67.584,31.731,...,62.062,26.973,67.478,22.374,68.600,22.168,47.794,52.206,59.144,7.139
1,State,1,Alabama,3735975,28.677,71.267,60.307,38.446,62.625,36.675,...,55.188,29.967,57.862,27.258,59.900,26.220,42.431,57.569,49.219,8.803
2,State,2,Alaska,549239,38.811,60.410,61.414,37.886,62.935,36.526,...,61.081,30.836,64.092,26.852,67.672,25.926,44.125,55.875,54.937,8.045
3,State,4,Arizona,5108959,38.699,61.105,62.293,37.067,65.413,33.800,...,61.216,28.382,64.730,24.491,66.010,24.582,47.167,52.833,58.402,7.556
4,State,5,Arkansas,2261238,30.274,69.580,61.671,37.941,62.027,37.469,...,57.280,31.160,61.526,26.482,63.309,26.005,42.286,57.714,50.778,9.301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4557,CBSA,49660,"Youngstown-Warren-Boardman, OH-PA",438229,31.359,68.709,65.304,34.591,64.840,33.679,...,58.488,29.550,63.401,26.346,64.718,26.211,45.438,54.561,58.496,7.592
4558,CBSA,49700,"Yuba City, CA",123517,37.748,62.076,62.034,38.073,63.579,35.857,...,62.222,27.661,66.934,23.654,68.360,22.762,46.211,53.789,56.626,8.239
4559,CBSA,49740,"Yuma, AZ",150066,35.348,63.921,64.525,34.594,65.741,32.902,...,61.818,24.278,63.033,22.922,65.567,22.555,48.964,51.036,59.311,7.124
4560,CBSA,49780,"Zanesville, OH",65988,28.302,71.546,59.132,40.854,55.863,43.375,...,53.210,33.641,60.526,28.464,60.555,28.666,37.828,62.170,49.377,9.123
4561,CBSA,49820,"Zapata, TX",9611,37.842,62.043,75.518,23.619,76.777,22.308,...,72.552,15.680,74.904,13.713,75.975,13.349,59.515,40.474,63.989,5.286